.board{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  max-width: 345px;
  max-height: 345px;
  min-width: 300px;
  min-height: 300px;
  border: 1px solid black;
}

.grid{
  display: inline-block;
  margin: 5px;
  width: 99px;
  height: 99px;
  border: 1px solid black;
  text-align: center;
  line-height: 99px;
  vertical-align: top;
  transition-duration: 0.3s;
}

.grid:hover{
  background: rgb(255,80,90);
  cursor: pointer;
}

@media only screen and (min-width: 300px) and (max-width: 600px){
  .grid{
    width: 84px;
    height: 84px;
    line-height: 84px;
  }
}
